body {
    /*nav bar gap*/
    padding-top: 70px;
}
/* Form style */
.form-search > *{
    margin:10px 0px;
}
.ng-invalid.ng-dirty{
    border-color: #FA787E;
}
.ng-valid.ng-dirty{
    border-color: #78FA89;
}